{% extends "base.html" %}
{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCapaGF3mD67lBA-iGLs_j4doCwEh1tqgs&sensor=false"></script>
    
    <script type="text/javascript">
        $(document).ready(function() {
            var last_opened_info = undefined;
            
            function addMapEvent(map, marker, info) {
                google.maps.event.addListener(marker, 'click', function() {
                    if (last_opened_info) {
                        last_opened_info.close();
                    }
                    info.open(map,marker);
                    last_opened_info = info;
                });
            };
        
            var mapOptions = {
                center: new google.maps.LatLng( {{ center.latitude }}, {{ center.longitude }} ),
                zoom: {{ zoom }},
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            var map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);
            
            {% for ((latitude, longitude), local_events) in events %}
                
                {% set first_event = (local_events | first) %}
                
                var marker = new google.maps.Marker({
                    position: new google.maps.LatLng( {{ latitude }}, {{ longitude }} ),
                    map: map,
                    title: "{{ first_event.title | replace('"', '\\"') }} @ {{ first_event.venue.name }}"
                });
                
                var info = '' +
                            //{# for event in local_events #}
                                '<div class="event_details">' +
                                '   <div class="event_topdetails">'+
                                {%      if first_event.image_url %}
                                '           <div class="event_poster">' +
                                '               <img src="{{ first_event.image_url | replace("'","\\'") }}"/>' +
                                '           </div>' +
                                {%      endif %}
                                '       <div class="event_main_info">' +
                                '           <span class="event_title">'+
                                {%              if first_event.url %}
                                '                   <a href="{{ first_event.url | replace("'","\\'") }}" target="_blank">{{ first_event.title | replace("'","\\'") }}</a>'+
                                {%              else %}
                                '                   {{ first_event.title | replace("'","\\'") }}' +
                                {%              endif %}
                                '           </span><br />' +
                                {%          if first_event.cancelled %}
                                '               <span class="event_cancelled"> (CANCELLED)</span>' +
                                {%          endif %}
                                '           <span class="event_allbands">' +
                                {%          set artists = first_event.artists %}
                                {%          set head_artist = artists | first %}
                                {%          for artist in artists %}
                                {%              if artist != head_artist %}
                                ', ' +
                                {%              endif %}
                                {%              if artist.url %}
                                '<a href="{{ artist.url | replace("'","\\'") }}" target="_blank">{{ artist.name | replace("'","\\'") }}</a>' +
                                {%              else %}
                                '{{ artist.name | replace("'","\\'") }}' +
                                {%              endif %}
                                {%          endfor %}
                                '           </span>' +
                                '       </div>' +
                                '   </div>' +
                                '   <div class="event_other_details">' +
                                {%      set venue = first_event.venue %}
                                '       <p class="event_description">On <strong>{{ first_event.date }}</strong> at <strong>{{ venue.name | replace("'","\\'")}}</strong>.</p>' +
                                '       <p class="event_address">' +
                                {%          if venue.location.street %}'{{ venue.location.street | replace("'","\\'") }}<br />' +{% endif %}
                                {%          if venue.location.postalcode %}'{{ venue.location.postalcode | replace("'","\\'") }}, ' + {% endif %}
                                '           {{ venue.location.city | replace("'","\\'") }}<br />' +
                                '           {{ venue.location.country | replace("'","\\'") }}<br />' +
                                '       </p>' +
                                '       <p class="venue_contact">' +
                                {%          if venue.phonenumber %}
                                '               <strong>Tel:</strong> {{ venue.phonenumber }}<br />' +
                                {%          endif %}
                                {%          if venue.url %}
                                '               <strong>Web:</strong> {{ venue.url | urlize}}' +
                                {%          endif %}
                                '      </p>' +
                                '   </div>' +
                                '</div>' +
                           //{# endfor #}
                           '';
                
                var infowindow = new google.maps.InfoWindow({
                    content: info,
                    maxWidth: 500
                });
                
                addMapEvent(map, marker, infowindow);
                
            {% endfor %}
            
        });
    </script>
    
    <div id="map_canvas" style="width:100%; height:480px" />
{% endblock %}
